body{
	font-family:'Oswald';
	overflow-x : hidden;
}

h1{
	font-size : 3.5rem;
}


/* Navbar & Title */


#title{
	background-color:#f1f1f1;
	text-align: center;
}

.title-img{
	position: relative;
	margin-top: 150px;
	width : 100%;
}

.nav-item{
	padding: 0 18px;
}

.big-heading{
	padding-top : 12%;
}

.download-button{
	
	margin:5% 3% 5% 0%; 
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* Features */

#features{
	text-align:center;
	padding : 10%;
}

.testimonial-image{
	width : 30%;
	border-radius: 15%;
}

/* to change the color of the carousel button */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* REVIEW */

#review{

}
/* PRICING */

#pricing{
	margin-top:20px;
	text-align: center;
}


/* CTA */

#cta{
	margin-top : 20px;
	text-align:center;
	background-color: #f1f1f1;
	padding : 12%
}

.cta-button{
	margin : 3% 2%;
}

/* FOOTER */

#footer{
	text-align:center;
	padding: 5%;
	background-color:#343A40;
	color: #fff;
}
